@import url("./variables.css");
@import url("./defaults.css");

body {
  background-color: var(--backgroundColor);
  margin: 0;
  width: 100%;
  min-height: 100dvh;
  min-width: 100dvw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: "National Park", system-ui;
  text-shadow: var(--textShadow);
}
