@import url("./base/variables.css");
@import url("./base/defaults.css");
@import url("./base/background.css");
@import url("./layout/body.css");

.logoContainer {
  font-weight: 650;
  font-size: var(--gridSize);
}

.borderContainer {
  position: fixed;
  inset: 0;
  border: var(--backgroundColor) solid var(--gridSize);
  z-index: 999;
  pointer-events: none;
}

.borderRing {
  position: absolute;
  inset: 0;
  outline: var(--contentBorder);
}

.headerContainer {
  position: fixed;
  top: calc(2 * var(--gridSize));
  left: calc(2 * var(--gridSize));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.footerContainer {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0px);
  width: var(--contentWidth);
  height: var(--footerHeight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  border-top: var(--contentBorder);
  background-color: var(--backgroundColor);
}

.navigationContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contentContainer {
  position: relative;
  width: var(--contentWidth);
  padding: 0 100px;
  display: flex;
  z-index: 0;
  overflow: auto;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.splashContainer {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
