---
import texture from '../../assets/noisetextureGIFbyhoppip.gif?url';
---
<style>
  .BackgroundTexture {
    background-image: var(--texture);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 6%;
    pointer-events: none;
  }
</style>
<div class="BackgroundTexture" style={`--texture: url(${texture})`}></div>