.backgroundNoise {
  background-image: url("../../media/noise texture GIF by hoppip.gif");
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 6%;
  z-index: 1000;
  pointer-events: none;
}
