---
import styles from './BackgroundTexture.module.css';
import texture from '../../assets/noisetextureGIFbyhoppip.gif?url';
---
<div class={styles.BackgroundTexture} style={`--texture: url(${texture})`}></div>