---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <Fragment slot="head">
    
  </Fragment>
  <p1>Vietlan Dinh's website.</p1>
  <div style="position: fixed; height: 120px; width: 320px; top: 40px; left: 40px; background-color: green;">
    <h1>@vdinhaus</h1>
  </div>
</BaseLayout>
