---
const { title = "Placeholder" } = Astro.props;
import OverlayFilter from "../components/wrappers/OverlayFilter.astro";
import OverlayGrid from "../components/wrappers/OverlayGrid.astro";
import GrainTexture from "../assets/noisetextureGIFbyhoppip.gif?url";
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=National+Park:wght@200..800&family=Overpass+Mono:wght@300..700&display=swap" rel="stylesheet">
		<title>{title}</title>
    <slot name="head" />
	</head>
	<body>
    <OverlayGrid></OverlayGrid>
    <OverlayFilter texture={GrainTexture} index={1000}></OverlayFilter>
		<slot />
	</body>
</html>
